
  ul > img{
    padding: 0px;
  }
  
  a:link, a:visited {
  background-color: #C9C2E3;
  color: black;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }
  
  a:hover, a:active {
  background-color: #554C78;
  }

  .icon > img {
    width: 32px;
  }