@import url("photo.css");
@import url("button.css");
@import url("navbar.css");

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
}

@media only screen and (min-width: 768px) {
  /* for desktop */
  html {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.nav-bar{
  padding: 0px;
}

body {
  background-color:#FFFFFF;
  font-family: Roboto;
  margin-left: 0px;
}

h1 {
  font-size: 54px;
  font-weight: bold;
  padding-top: 20px;
  margin-bottom: 80px;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  display: inline;
}

h3 {
  font-size: 24px;
  margin-top: 20px;
}

p {
  font-size: 18px;
}

strong {
  text-shadow: 3px 2px #C9C2E3;
}

mark {
  display: inline-block;
  background-color: #C9C2E3;
  line-height: 0em;
  padding-bottom: 0.5em;
}

#home-section {
  background-color:#ececec;
}

.experiences {
  background-color: #ececec;
  margin: 3%;
  padding-left: 10%;
  padding-right: 10%;
  padding: 20px;
  border-radius: 50px;
}

.company-logo > img{
  float: right;
  width: 100px;
  border-radius: 25%;
  padding: 10px;
}

.icon > i {
  float: center;
  width: 32px; 
  padding: 10px; 
}

.fas fa-envelope:hover {
  background-color: black;
}