.nav-bar {
    background-color: #C9C2E3;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 90px;
}

.nav-bar li {
    display: inline;
    padding: 5px;
}

.nav-bar a {
    display: inline-block;
    margin-top: -30px;
}

#home-icon {
    width: 70px;
    position: relative;
    top: 20px;
    text-align: left;
}

.endbar {
    display: inline-block;
    text-align: center;
    background-color:#C9C2E3;
    width: 100%;
  }